# Середовище розробки
.vscode/

# Віртуальне оточення та секрети
venv/
.env

# Кеш Python
__pycache__/
scheduler/__pycache__/
./__pycache__/
*.pyc
*.pyo

# Бази даних
*.sqlite3
*.db

# Системні файли Windows (на всякий випадок)
Thumbs.db
.DS_Store

/logs/